@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.abtme-caveat-font {
    font-family: 'Caveat', cursive;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: rgb(9, 9, 48);
}